# Gemini AI (required)
GEMINI_API_KEY=AIzaSyBdbo6SiD1Esmvh9GIY7DTPlvIdMXIVcAY

# Supabase (required)
NEXT_PUBLIC_SUPABASE_URL=https://jukmvbqqkmfbrfhgnqeo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1a212YnFxa21mYnJmaGducWVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1MDA2NzMsImV4cCI6MjA4NzA3NjY3M30._Ko6SUij0tkNZkiqt--F4HpBz0RA3eih5i3HR0nIOuM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1a212YnFxa21mYnJmaGducWVvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTUwMDY3MywiZXhwIjoyMDg3MDc2NjczfQ.4qNmx7widAF84YLwmsAWXOPwla5JkEA21HGyYEUsDKg
